body {
	width: 1366px;
	height: 5850px;
	margin: 0 auto;
}

.large_standalone_product {
	margin: 150px 0;
}

.large_standalone_product > img {
	margin: 0 auto;
	display: block;
}

.grid {
  max-width: 934px;
  margin: 150px auto;
  height: 906px;
}

/*Clear Fix*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}

.grid > img {
	display: block;
}

.shop_category_link {
	width: 356px;
    height: 227px;
}

#grey_and_black_scarf {
	width: 228px;
    height: 227px;
}

#black_jacket {
	width: 350px;
    height: 454px;
}

#black_coat_and_leopard {
	width: 584px;
    height: 679px;
}

#black_suede_shoes {
	width: 350px;
    height: 452px;
}