* {
	font-family: Arial;
}

body {
	width: 1366px;
	height: 5850px;
	margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 245px;
    left: 162px;
    letter-spacing: 7px;
}

h1 + p {
	font-size: 12px;
	color: white;
	position: absolute;
    left: 162px;
    top: 445px;
    letter-spacing: 1.4px;
    line-height: 20px;
}

h1 + p + a {
	color: white;
	position: absolute;
    left: 162px;
    top: 536px;
    letter-spacing: 3px;
}

#black_coat_and_leopard_prod_txt {
    margin: 20px 0 0 16px;
    text-align: left;
    width: 115px;
    position: relative;
    bottom: 682px;
    right: 1px;
}

#black_suit_jacket_prod_txt {
    text-align: left;
    width: 115px;
    position: relative;
	bottom: 672px;
    left: 18px;
    color: black;
}


#black_suit_div {
	height: 676px;
    overflow: hidden;
}

#bottom_shop_category_link_txt {
	margin: 80px 0 0 35px;
}

#bottom_shop_category_link {
    margin: 57px 0 0 35px;
}

#fleeced_coat_product + a {
	text-align: center;
	display: block;
    color: black;
    margin: 0 0 65px 0;
}

.shop_category_link > p {
    font-size: 13px;
    margin: 0 28px 0 0;
    word-spacing: 1.0px;
    color: black;
}

.shop_category_link > a {
    font-size: 13px;
    margin: 58px 0 0 0;
    word-spacing: 1.0px;
    color: black;
    display: block;
}

.product_text {
    text-align: center;
    font-size: 11px;
    margin: 12px 0 0 0;
}

#black_coat_product {
	position: relative;
}

.large_standalone_product {
	margin: 150px 0;
}

.large_standalone_product > a > img {
	margin: 0 auto;
	display: block;
}

.grid {
  max-width: 934px;
  margin: 150px auto;
  height: 906px;
}

/*Clear Fix*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}

.shop_category_link {
	width: 356px;
    height: 227px;
}

#grey_and_black_scarf {
	width: 228px;
    height: 227px;
}

#black_jacket {
	width: 350px;
    height: 454px;
}

#black_coat_and_leopard {
	width: 584px;
    height: 679px;
}

#black_suede_shoes {
	width: 350px;
    height: 452px;
}

#black_sneakers {
	width: 348px;
	height: 451px;
}

#black_suit_jacket {
	width: 584px;
	height: 676px;
}

#cream_jumper {
	width: 347px;
	height: 452px;

}

#black_belt {
	width: 227px;
	height: 226px;
}
